<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="David_CustomOrderNumber::manipulateReservedOrderId" type="David\CustomOrderNumber\Plugin\Model\Quote\ResourceModel\QuotePlugin"/>
    </type>
    <type name="David\CustomOrderNumber\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="David\CustomOrderNumber\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">magesalesLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">David\CustomOrderNumber\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
