<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 V2Agency. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="David_Core::core" title="V2 Agency Extension" module="David_Core" sortOrder="100" resource="David_Core::core"/>
    </menu>
</config>
